<div class="header">
  <h1>MANAGE FOODY APP</h1>
  <p-button label="LOGOUT" [rounded]="true" severity="secondary" (click)="logOut()"></p-button>
</div>
<div class="main">
  <p-button
    label="CATEGORY"
    [rounded]="true"
    severity="warning"
    routerLink="/category"
  ></p-button>
  <p-button
    label="PROMOTION"
    [rounded]="true"
    severity="help"
    routerLink="/promotion"
  ></p-button>
  <p-button label="PRODUCT" [rounded]="true" severity="danger"></p-button>
  <p-button
    label="ORDER"
    [rounded]="true"
    severity="Info"
    routerLink="/order"
  ></p-button>
</div>
