h1{
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
  margin-left: 10%;
}

.main{
  margin-top: 5%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);;
}

p-button{
  margin: 20px;
}

.header{
  display: grid;
  grid-template-columns: 15fr 1fr;
}
